<div class="log-in pop-up">
    <div [class.show]="show" class="cont-login cont-popup dynamic over">
        <div *ngIf="loading" class="loading"><i class="fa-solid fa-circle-notch fa-spin"></i></div>
        <div (click)="close()" class="close"><i class="fa-solid fa-xmark clickable opacity"></i></div>
        <div class="login-title">
            <h3>Iniciar Sesion</h3>
        </div>
        <form #loginForm="ngForm" action="" class="login-form">
            <div class="login-field">
                <label for="username">Username</label>
                <input id="username" type="text" name="username" #username [(ngModel)]="user">
            </div>
            <div class="login-field">
                <label for="">Contraseña</label>
                <input id="pass" type="password" name="passw" #passw [(ngModel)]="pass">
            </div>
            <div class="login-submit">
                <div (click)="onSubmit()" class="login-submit-button button">
                    <p>Enviar</p>
                </div>
            </div>
        </form>
    </div>
</div>