

$mobile : 500px;
$medium : 768px;
$tablet : 1200px;

$wordleSizeMobile : 3.5rem;
$wordleSizeMedium : 4rem;
$wordleSizeTablet : 4.5rem;
$wordleSizePc : 5rem;

$normalFont : 'Roboto', sans-serif;
$secondaryFont : 'Open Sans', sans-serif;

$thin : 100;
$light : 300;
$bold : 700;
$black: 900;

$correctColor : rgb(154, 255, 154);
$halfColor : rgb(255, 255, 168);
$incorrectColor : rgb(169, 167, 167);

$dynamicTransition : .5s;

$dayMode : rgb(241, 241, 241);
$nigthMode : rgb(41, 41, 41);

$dayModeOver : rgb(233, 233, 233);
$nigthModeOver : rgb(51, 51, 51);

$dayModeSecondary : rgb(63, 63, 63);
$nigthModeSecondary : rgb(246, 246, 246);

$dayModeTerciary : rgb(182, 222, 255);
$nigthModeTerciary : rgb(3, 32, 37);