.cont-dl {
    position: relative;
    .dl-dropdown {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    .dl-select {
        display: flex;
        gap: 1.5rem;
        align-items: center;
        width: 100%;
        cursor: pointer;
        p {
            font-size: 2.5rem;
            @include mobile {
                font-size: 1.5rem;
            }
            text-transform: capitalize;
        }
        i {
            @include mobile {
                font-size: 1.5rem;
            }
            &.fa-caret-up {
                margin-top: .3rem
            }
            &.fa-caret-down {
                margin-bottom: .3rem
            }
        }
    }
    .dl-nav {
        border-radius: 1rem;
        box-shadow: 0 4px 5px gray;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        padding: 1.5rem 4rem 1.5rem 1rem;
        transition: .3s;
        transform: scale(0.6);
        pointer-events: none;
        opacity: 0;
        @include mobile {
            padding: 1.5rem 1rem 1.5rem 1rem;
        }
        &.show {
            pointer-events: all;
            transform: scale(1);
            opacity: 100;
        }
        p {
            
            font-size: 2.3rem;
            @include mobile {
                font-size: 1.6rem;
            }
        }
        
    }
}