<div class="user-info">
    <div class="cont cont-ui">
        <div class="ui-first ui-section">
            <div class="ui-image">
                <img src="../../../../../assets/images/anonymous.png" alt="">
            </div>
            <div class="ui-username upper">
                <h2>Alexpezu</h2>
            </div>
        </div>
        <div class="ui-second ui-section">
            <div class="ui-level dynamic over">
                <p class="light">Nivel</p>
                <p class="uil-n">43</p>
            </div>
        </div>
    </div>
</div>
